<div class="sidebar">
    <button type="button" class="close">Close</button>
    <a class="logo" href="/microkols-cms/build/campaign.html">
        <img src="./assets/img/logo_merchant.png" />
    </a>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item nav-user">
                <a class="nav-link active" href="/microkols-cms/build/campaign-create.html">
                    <img src="https://resources.microkols.com//agency/2020/2/17/LJVDITCSVD.jpg" width="32" height="32" class="rounded-circle" />
                    <span>c&#xF4;ng ty tnhh abc</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/microkols-cms/build/campaign.html">
                    Danh sách chiến dịch
                </a>
            </li>
            <li class="nav-item dropdown nav-notif">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="nav-link" href="/microkols-cms/build/notification.html">
                            Thông báo
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a data-toggle="dropdown" href="/notification">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-pill badge-danger" style="display:none">0</span>
                        </a>
                        <div class="dropdown-menu" style="">
                            <div class="dropdown-item-text item-Checked" data-id="2287">
                                <a href="/Campaign/Details/337" data-type="CampaignCanceled">
                                    Chiến dịch 323052004 bị hủy vì lí do Không có thành viên thực hiện chiến dịch
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 11 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2285">
                                <a href="/Campaign/Details/338" data-type="CampaignCanceled">
                                    Chiến dịch 323052005 bị hủy vì lí do Không có thành viên thực hiện chiến dịch
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 24 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2283">
                                <a href="/Campaign/Details/336" data-type="CampaignCanceled">
                                    Chiến dịch 323052003 bị hủy vì lí do Không có thành viên thực hiện chiến dịch
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 26 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2281">
                                <a href="/Campaign/Details/334" data-type="CampaignCanceled">
                                    Chiến dịch 323052001 bị hủy vì lí do Không có thành viên thực hiện chiến dịch
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 27 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2279">
                                <a href="/Campaign/Details/335" data-type="CampaignCanceled">
                                    Chiến dịch 323052002 bị hủy vì lí do Không có thành viên thực hiện chiến dịch
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 27 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2278">
                                <a href="/Campaign/Details/338" data-type="AccountRequestJoinCampaign">
                                    Thành viên minh.inzaghi@gmail.com đã đề xuất được tham gia chiến dịch 338
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 35 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2275">
                                <a href="/Campaign/Content?campaignid=337" data-type="AccountSubmitCampaignContent">
                                    Thành viên 124979742045137@facebook.com đã gửi nội dung chiến dịch 337
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 39 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2274">
                                <a href="/Campaign/Details/337" data-type="AccountRequestJoinCampaign">
                                    Thành viên minh.inzaghi@gmail.com đã đề xuất được tham gia chiến dịch 337
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 35 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2271">
                                <a href="#" data-type="CampaignConfirmed">
                                    Chiến dịch "Chiến dịch 2 - 23/5" bạn tạo đã được duyệt bởi hệ thống
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 42 ngày trước</span>
                            </div>
                            <div class="dropdown-item-text item-Checked" data-id="2270">
                                <a href="#" data-type="CampaignConfirmed">
                                    Chiến dịch "chiến dịch 3 - 23/5" bạn tạo đã được duyệt bởi hệ thống
                                </a>
                                <br>
                                <span class="text-muted small"> <i class="fal fa-clock"></i> 42 ngày trước</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a href="/microkols-cms/build/notification.html" class="dropdown-item">Xem tất cả thông báo</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/microkols-cms/build/changeInfo.html">
                    Thông tin tài khoản
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/microkols-cms/build/wallet.html">
                    Thông tin ví
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Auth/Logout">
                    Thoát
                </a>
            </li>
            <li class="nav-item nav-sep">
                <hr />
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="https://microkols.com/introduce.html" target="_blank">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://microkols.com/policy.html">Chính sách & Quy định</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://microkols.com/qna.html">Hỏi & Đáp</a>
            </li>
        </ul>
    </div>
</div>