<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <div class="page-title txt-center">
            <div class="h1">  Danh s&#xE1;ch chi&#x1EBF;n d&#x1ECB;ch</div>
            <a class="btn btn-danger ml-auto" href="/microkols-cms/build/campaign-create.html">Tạo chiến dịch</a>
        </div>
        <form method="get">
            <div class="row">
                <div class="col-md-4">
                    <select class="custom-select  " name="type">
                        <option value="">Tất cả loại</option>
                        <option value="ShareContent" >Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption</option>
                        <option value="ShareContentWithCaption" >Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</option>
                        <option value="ChangeAvatar" >Thay h&#xEC;nh Avatar</option>
                        <option value="ReviewProduct" >Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</option>
                        <option value="JoinEvent" >Tham gia s&#x1EF1; ki&#x1EC7;n v&#xE0; check in</option>
                        <option value="ShareStreamUrl" >Share link livestream ch&#x1B0;&#x1A1;ng tr&#xEC;nh</option>
                        <option value="CustomService" >Y&#xEA;u c&#x1EA7;u kh&#xE1;c</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text" name="kw" class="form-control"
                           placeholder="Tìm kiếm chiến dịch">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary "  >Tìm kiếm</button>
                </div>
            </div>


        </form>
        <hr />
        <div class="row mb-3">
            <div class="col-lg-12 col-ms-12">
                <div class="nav-responsive">
                    <ul class="nav nav-tabs nav-px-sm mb-3 nav-campaign">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Campaign">
                                Tất cả
                                <span class="badge badge-pill badge-danger">87</span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Campaign?status=Created">
                                Ch&#x1EDD; ph&#xEA; duy&#x1EC7;t
                                <span class="badge badge-pill badge-danger">1</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Campaign?status=Confirmed">
                                &#x110;&#xE3; ph&#xEA; duy&#x1EC7;t
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Campaign?status=Started">
                                B&#x1EAF;t &#x111;&#x1EA7;u
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Campaign?status=Completed">
                                Ho&#xE0;n th&#xE0;nh
                                <span class="badge badge-pill badge-danger">43</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Campaign?status=Canceled">
                                Chi&#x1EBF;n d&#x1ECB;ch &#x111;&#xE3; b&#x1ECB; h&#x1EE7;y
                                <span class="badge badge-pill badge-danger">43</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Campaign?status=Error">
                                L&#x1ED7;i
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Campaign?status=Locked">
                                T&#x1EA1;m kh&#xF3;a &amp; C&#x1EA7;n thanh to&#xE1;n
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-ms-12">
                <div class="mb-5 bg-white rounded">
                    <div class="table-responsive">
                        <table class="table table-bordered table-campaign">
                            <thead>
                            <tr style="color:#4F4F4F;">
                                <th scope="col">#</th>
                                <th scope="col">Mã chiến dịch</th>
                                <th scope="col">Tên chiến dịch</th>
                                <th scope="col" style="width:200px;">Loại chiến dịch</th>
                                <th scope="col">Thời gian thực hiện</th>
                                <th scope="col">Trạng thái</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>1</td>
                                <td>
                                    <a href="/Campaign/Details/337" title="chi&#x1EBF;n d&#x1ECB;ch 4 - 23/5" class="text-primary">
                                        323052004
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 4 - 23/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 4 - 23/5
                                        </span>

                                </td>
                                <td>Tham gia s&#x1EF1; ki&#x1EC7;n v&#xE0; check in</td>
                                <td>
                                    <span> 23/06/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <a href="/Campaign/Details/338" title="chi&#x1EBF;n d&#x1ECB;ch 5 - 23/5" class="text-primary">
                                        323052005
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 5 - 23/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 5 - 23/5
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption</td>
                                <td>
                                    <span> 10/06/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <a href="/Campaign/Details/336" title="chi&#x1EBF;n d&#x1ECB;ch 3 - 23/5" class="text-primary">
                                        323052003
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 3 - 23/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 3 - 23/5
                                        </span>

                                </td>
                                <td>Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</td>
                                <td>
                                    <span> 08/06/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <a href="/Campaign/Details/334" title="Chi&#x1EBF;n d&#x1ECB;ch 1 - 23/5" class="text-primary">
                                        323052001
                                    </a>
                                </td>

                                <td>

                                        <span title="Chi&#x1EBF;n d&#x1ECB;ch 1 - 23/5">
                                            Chi&#x1EBF;n d&#x1ECB;ch 1 - 23/5
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 07/06/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <a href="/Campaign/Details/335" title="Chi&#x1EBF;n d&#x1ECB;ch 2 - 23/5" class="text-primary">
                                        323052002
                                    </a>
                                </td>

                                <td>

                                        <span title="Chi&#x1EBF;n d&#x1ECB;ch 2 - 23/5">
                                            Chi&#x1EBF;n d&#x1ECB;ch 2 - 23/5
                                        </span>

                                </td>
                                <td>Thay h&#xEC;nh Avatar</td>
                                <td>
                                    <span> 06/06/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    <a href="/Campaign/Details/333" title="chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5" class="text-primary">
                                        318052001
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 18/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                        <li class="list-inline-item">
                                            <a href="javascript:;" class="text-primary campaign-payment  btn-payment" data-id="333" title="Thanh toán cho chiến dịch"><i class="fa fa-credit-card"></i></a>
                                        </li>
                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    <a href="/Campaign/Details/332" title="chi&#x1EBF;n d&#x1ECB;ch 4 - 15/5" class="text-primary">
                                        315052004
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 4 - 15/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 4 - 15/5
                                        </span>

                                </td>
                                <td>Thay h&#xEC;nh Avatar</td>
                                <td>
                                    <span> 15/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>
                                    <a href="/Campaign/Details/331" title="chi&#x1EBF;n d&#x1ECB;ch 3 - 15/5" class="text-primary">
                                        315052003
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 3 - 15/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 3 - 15/5
                                        </span>

                                </td>
                                <td>Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</td>
                                <td>
                                    <span> 15/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>
                                    <a href="/Campaign/Details/330" title="chi&#x1EBF;n d&#x1ECB;ch 2 - 15/5" class="text-primary">
                                        315052002
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 2 - 15/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 2 - 15/5
                                        </span>

                                </td>
                                <td>Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</td>
                                <td>
                                    <span> 15/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>
                                    <a href="/Campaign/Details/329" title="Chi&#x1EBF;n d&#x1ECB;ch 1 - 15/5" class="text-primary">
                                        315052001
                                    </a>
                                </td>

                                <td>

                                        <span title="Chi&#x1EBF;n d&#x1ECB;ch 1 - 15/5">
                                            Chi&#x1EBF;n d&#x1ECB;ch 1 - 15/5
                                        </span>

                                </td>
                                <td>Thay h&#xEC;nh Avatar</td>
                                <td>
                                    <span> 15/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>
                                    <a href="/Campaign/Details/328" title="chi&#x1EBF;n d&#x1ECB;ch 2 - 14/5" class="text-primary">
                                        314052002
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 2 - 14/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 2 - 14/5
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 14/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>
                                    <a href="/Campaign/Details/327" title="chi&#x1EBF;n d&#x1ECB;ch 1 - 14/5" class="text-primary">
                                        314052001
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 1 - 14/5">
                                            chi&#x1EBF;n d&#x1ECB;ch 1 - 14/5
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 14/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>
                                    <a href="/Campaign/Details/326" title="Chi&#x1EBF;n d&#x1ECB;ch 1 - 11/5" class="text-primary">
                                        311052001
                                    </a>
                                </td>

                                <td>

                                        <span title="Chi&#x1EBF;n d&#x1ECB;ch 1 - 11/5">
                                            Chi&#x1EBF;n d&#x1ECB;ch 1 - 11/5
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 11/05/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-dark'></i> <span>Chiến dịch đã bị hủy</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>
                                    <a href="/Campaign/Details/323" title="chi&#x1EBF;n d&#x1ECB;ch 2 - 19/4" class="text-primary">
                                        319042002
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 2 - 19/4">
                                            chi&#x1EBF;n d&#x1ECB;ch 2 - 19/4
                                        </span>

                                </td>
                                <td>Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</td>
                                <td>
                                    <span> 19/04/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                        <li class="list-inline-item">
                                            <a href="javascript:;" class="text-primary campaign-payment  btn-payment" data-id="323" title="Thanh toán cho chiến dịch"><i class="fa fa-credit-card"></i></a>
                                        </li>
                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>
                                    <a href="/Campaign/Details/322" title="chi&#x1EBF;n d&#x1ECB;ch 1 - 19/4" class="text-primary">
                                        319042001
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 1 - 19/4">
                                            chi&#x1EBF;n d&#x1ECB;ch 1 - 19/4
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 19/04/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>
                                    <a href="/Campaign/Details/324" title="chi&#x1EBF;n d&#x1ECB;ch 3 - 19/4" class="text-primary">
                                        319042003
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 3 - 19/4">
                                            chi&#x1EBF;n d&#x1ECB;ch 3 - 19/4
                                        </span>

                                </td>
                                <td>Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</td>
                                <td>
                                    <span> 19/04/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>
                                    <a href="/Campaign/Details/318" title="chi&#x1EBF;n d&#x1ECB;ch 2 - 18/4" class="text-primary">
                                        318042002
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 2 - 18/4">
                                            chi&#x1EBF;n d&#x1ECB;ch 2 - 18/4
                                        </span>

                                </td>
                                <td>Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</td>
                                <td>
                                    <span> 18/04/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>
                                    <a href="/Campaign/Details/317" title="chi&#x1EBF;n d&#x1ECB;ch 1 - 18/4" class="text-primary">
                                        318042001
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 1 - 18/4">
                                            chi&#x1EBF;n d&#x1ECB;ch 1 - 18/4
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 18/04/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>
                                    <a href="/Campaign/Details/314" title="chi&#x1EBF;n d&#x1ECB;ch 3 - 15/4" class="text-primary">
                                        315042003
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 3 - 15/4">
                                            chi&#x1EBF;n d&#x1ECB;ch 3 - 15/4
                                        </span>

                                </td>
                                <td>Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</td>
                                <td>
                                    <span> 15/04/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                        <li class="list-inline-item">
                                            <a href="javascript:;" class="text-primary campaign-payment  btn-payment" data-id="314" title="Thanh toán cho chiến dịch"><i class="fa fa-credit-card"></i></a>
                                        </li>
                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>
                                    <a href="/Campaign/Details/315" title="chi&#x1EBF;n d&#x1ECB;ch 4 - 15/4" class="text-primary">
                                        315042004
                                    </a>
                                </td>

                                <td>

                                        <span title="chi&#x1EBF;n d&#x1ECB;ch 4 - 15/4">
                                            chi&#x1EBF;n d&#x1ECB;ch 4 - 15/4
                                        </span>

                                </td>
                                <td>Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</td>
                                <td>
                                    <span> 15/04/2020</span>
                                </td>
                                <td><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span></td>
                                <td>
                                    <ul class="list-inline campaign-row-item">


                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--movie pagination table-responsive-->
                    <ul class="pagination justify-content-end"><li class="active page-item"><a class="page-link" href="/Campaign?pageindex=1">1</a></li>
                        <li class="page-item"><a class="page-link" href="/Campaign?pageindex=2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/Campaign?pageindex=3">3</a></li>
                        <li class="page-item"><a class="page-link" href="/Campaign?pageindex=4">4</a></li>
                        <li class="page-item"><a class="page-link" href="/Campaign?pageindex=2"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>