<main role="main" class="flex-grow-1 px-3">
    <!-- add class main-campaign-->
    <div class="main container-fluid main-campaign">
        <div class="page-title">
            <div class="h1">  T&#x1EA1;o chi&#x1EBF;n d&#x1ECB;ch</div>
            <a class="btn btn-danger ml-auto" href="/campaign-create.html">Tạo chiến dịch</a>
        </div>
        <h3 class=" text-primary mb-3 h3 sz30">Bước 1: Chọn loại chiến dịch</h3>
        <div class="row row-cols-1 row-cols-md-3 campaign-list">
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <a href="/microkols-cms/build/campaign-create-2.html" class="campaign-link">
                        <img src="./assets/img/share_no_caption.png" class="card-img-top rounded-0" alt="Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption">
                    </a>
                    <div class="card-body" style="">
                        <a href="/Campaign/Create?campaignType=ShareContent" class="campaign-link h2-black">
                            <h2 class="card-title h3">
                                Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption
                            </h2>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <a href="/microkols-cms/build/campaign-create-2.html" class="campaign-link">
                        <img src="./assets/img/share_with_caption.png" class="card-img-top rounded-0" alt="Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption">
                    </a>
                    <div class="card-body" style="">
                        <a href="/Campaign/Create?campaignType=ShareContentWithCaption" class="campaign-link h2-black">
                            <h2 class="card-title h3">
                                Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption
                            </h2>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <a href="/microkols-cms/build/campaign-create-2.htmlr" class="campaign-link">
                        <img src="./assets/img/share_change_avatar.png" class="card-img-top rounded-0" alt="Thay h&#xEC;nh Avatar">
                    </a>
                    <div class="card-body" style="">
                        <a href="/Campaign/Create?campaignType=ChangeAvatar" class="campaign-link h2-black">
                            <h2 class="card-title h3">
                                Thay h&#xEC;nh Avatar
                            </h2>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <a href="/microkols-cms/build/campaign-create-2.html" class="campaign-link">
                        <img src="./assets/img/share_review_product.png" class="card-img-top rounded-0" alt="Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m">
                    </a>
                    <div class="card-body" style="">
                        <a href="/Campaign/Create?campaignType=ReviewProduct" class="campaign-link h2-black">
                            <h2 class="card-title h3">
                                Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m
                            </h2>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <a href="/microkols-cms/build/campaign-create-2.html" class="campaign-link">
                        <img src="./assets/img/share_joinevent_checkin.png" class="card-img-top rounded-0" alt="Tham gia s&#x1EF1; ki&#x1EC7;n v&#xE0; check in">
                    </a>
                    <div class="card-body" style="">
                        <a href="/Campaign/Create?campaignType=JoinEvent" class="campaign-link h2-black">
                            <h2 class="card-title h3">
                                Tham gia s&#x1EF1; ki&#x1EC7;n v&#xE0; check in
                            </h2>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <a href="/microkols-cms/build/campaign-create-2.html" class="campaign-link">
                        <img src="./assets/img/share_link_livestream.png" class="card-img-top rounded-0" alt="Share link livestream ch&#x1B0;&#x1A1;ng tr&#xEC;nh">
                    </a>
                    <div class="card-body" style="">
                        <a href="/Campaign/Create?campaignType=ShareStreamUrl" class="campaign-link h2-black">
                            <h2 class="card-title h3">
                                Share link livestream ch&#x1B0;&#x1A1;ng tr&#xEC;nh
                            </h2>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm">
                    <a href="/microkols-cms/build/campaign-create-2.html" class="campaign-link">
                        <img src="./assets/img/share_other.png" class="card-img-top rounded-0" alt="Y&#xEA;u c&#x1EA7;u kh&#xE1;c">
                    </a>
                    <div class="card-body" style="">
                        <a href="/Campaign/Create?campaignType=CustomService" class="campaign-link h2-black">
                            <h2 class="card-title h3">
                                Y&#xEA;u c&#x1EA7;u kh&#xE1;c
                            </h2>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>