<main role="main" class="flex-grow-1 px-3">
    <!-- add class main-campaign-->
    <div class="main container-fluid main-campaign">
        <div class="page-title">
            <div class="h1">  Tạo chiến dịch</div>
            <a class="btn btn-danger ml-auto" href="/Campaign/Create">Tạo chiến dịch</a>
        </div>
        <h3 class="text-primary mb-3 h3">Bước 3: Yêu cầu về đối tượng của chiến dịch</h3>
        <div class="card border-0">
            <img src="./assets/img/banner_share_no_caption.png" class="card-img rounded-0">
            <div class="card-img-overlay">
               <!-- remove class col-5 row-5-->
                <div class=" text-dark">
                    <div class="p-5 ">
                        <div class="h2"> Chia sẻ thông điệp, không cần viết caption</div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-create-campaign" action="/Campaign/CreateTarget" method="post" novalidate="novalidate">
            <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
            </ul></div>
            <h6 style="font-weight:bold;">1. Loại influencer bạn cần</h6>
            <div class="form-group">
                <div>
                    <div class="custom-control custom-radio custom-control-inline custom-control">
                        <input type="radio" value="Regular" name="AccountType" id="CampaignTypeRegular" class="custom-control-input">
                        <label class="custom-control-label font-weight-normal" for="CampaignTypeRegular">
                            Facebooker (người dùng thường)
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline custom-control">
                        <input type="radio" value="HotTeen" name="AccountType" id="CampaignTypeHotTeen" class="custom-control-input">
                        <label class="custom-control-label font-weight-normal" for="CampaignTypeHotTeen">
                            Hot Teen
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline custom-control">
                        <input type="radio" value="HotMom" name="AccountType" id="CampaignTypeHotMom" class="custom-control-input">
                        <label class="custom-control-label font-weight-normal" for="CampaignTypeHotMom">
                            Hot Mom
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline custom-control">
                        <input type="radio" value="HotFacebooker" name="AccountType" id="CampaignTypeHotFacebooker" class="custom-control-input">
                        <label class="custom-control-label font-weight-normal" for="CampaignTypeHotFacebooker">
                            Hot Facebooker
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline custom-control">
                        <input type="radio" checked="" value="Kols" name="AccountType" id="CampaignTypeKols" class="custom-control-input">
                        <label class="custom-control-label font-weight-normal" for="CampaignTypeKols">
                            Kols
                        </label>
                    </div>
                </div>
                <span class="field-validation-valid" data-valmsg-for="AccountType" data-valmsg-replace="true"></span>
            </div>
            <div class=" d-accounttype d-accounttype-Regular" style="display:none">
            </div>
            <div class=" d-accounttype d-accounttype-HotTeen" style="display:none">
            </div>
            <div class=" d-accounttype d-accounttype-HotMom" style="display:none">
                <div class="row ">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Giới tính con cái</label>
                            <select class="form-control" name="ChildType">
                                <option selected="" value="0">Tất cả</option>
                                <option value="1">Con trai</option>
                                <option value="2">Con gái</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Độ tuổi con cái</label>
                        <input type="number" class="form-control" value="0" id="ChildAgeMin" name="ChildAgeMin">
                    </div>
                    <div class="col-3">
                        <label>&nbsp;</label>
                        <input type="number" class="form-control" value="0" id="ChildAgeMax" name="ChildAgeMax">
                    </div>
                </div>
            </div>
            <div class=" d-accounttype d-accounttype-HotFacebooker" style="display:none">
            </div>
            <div class=" d-accounttype d-accounttype-Kols" style="">
            </div>
            <div class="form-group">
                <label for="Quantity">Số lượng</label>
                <input type="number" min="1" class="form-control" data-val="true" data-val-required="The Số lượng field is required." id="Quantity" name="Quantity" value="0">
                <span class="field-validation-valid" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
            </div>
            <h6 style="font-weight:bold;">2. Tiêu chí</h6>
            <div id="campaignOptions" class="form-group">
                <div class="h-accounttype h-accounttype-HotMom">
                    <div class="d-flex py-1 ">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledGender" data-val="true" data-val-required="The Giới tính field is required." id="EnabledGender" name="EnabledGender" value="true">
                            <label class="custom-control-label" for="EnabledGender">Giới tính</label>
                        </div>
                        <div id="collapseEnabledGender" class="collapse ml-4">
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" checked="" value="Male" name="Gender" id="GenderMale" class="custom-control-input">
                                    <label class="custom-control-label" for="GenderMale">Nam</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Female" name="Gender" id="GenderFemale" class="custom-control-input">
                                    <label class="custom-control-label" for="GenderFemale">Nữ</label>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="Gender" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledAgeRange" data-val="true" data-val-required="The Độ tuổi field is required." id="EnabledAgeRange" name="EnabledAgeRange" value="true">
                        <label class="custom-control-label" for="EnabledAgeRange">Độ tuổi</label>
                    </div>
                    <div id="collapseEnabledAgeRange" class="collapse ml-4">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="number" class="form-control" id="AgeStart" name="AgeStart" placeholder="Từ" value="">
                                <span class="field-validation-valid" data-valmsg-for="AgeStart" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-auto">
                                -
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control  " id="AgeEnd" name="AgeEnd" placeholder="Đến" value="">
                                <span class="field-validation-valid" data-valmsg-for="AgeEnd" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledCity" data-val="true" data-val-required="The Khu vực field is required." id="EnabledCity" name="EnabledCity" value="true">
                        <label class="custom-control-label" for="EnabledCity">Khu vực</label>
                    </div>
                    <div class=" ml-4 flex-grow-1">
                        <div id="collapseEnabledCity" class="collapse">
                            <select multiple="" class="form-control form-select2 select2-hidden-accessible" id="CityId" name="CityId" data-select2-id="CityId" tabindex="-1" aria-hidden="true">
                                <option value="1">Hà Nội</option>
                                <option value="2">Hồ Chí Minh</option>
                                <option value="11">Đắk Nông</option>
                                <option value="12">Hải Phòng</option>
                                <option value="13">Đà Nẵng</option>
                                <option value="14">Cần Thơ</option>
                                <option value="15">Bạc Liêu</option>
                                <option value="16">Bắc Giang</option>
                                <option value="17">Bắc Cạn</option>
                                <option value="18">Bắc Ninh</option>
                                <option value="19">Bến Tre</option>
                                <option value="20">Bình Dương</option>
                                <option value="21">Bình Định</option>
                                <option value="22">Bình Phước</option>
                                <option value="23">Bình Thuận</option>
                                <option value="24">Cà Mau</option>
                                <option value="25">Cao Bằng</option>
                                <option value="26">Đắk Lắk</option>
                                <option value="27">Đồng Nai</option>
                                <option value="28">Đồng Tháp</option>
                                <option value="29">Gia Lai</option>
                                <option value="30">Hà Giang</option>
                                <option value="31">Hà Nam</option>
                                <option value="32">Hà Tây</option>
                                <option value="33">Hà Tĩnh</option>
                                <option value="34">Hải Dương</option>
                                <option value="35">Hòa Bình</option>
                                <option value="36">Hưng Yên</option>
                                <option value="37">Khánh Hòa</option>
                                <option value="38">Kiên Giang</option>
                                <option value="39">Kon Tum</option>
                                <option value="40">Lai Châu</option>
                                <option value="41">Lạng Sơn</option>
                                <option value="42">Lào Cai</option>
                                <option value="43">Lâm Đồng</option>
                                <option value="44">Long An</option>
                                <option value="45">Nam Định</option>
                                <option value="46">Nghệ An</option>
                                <option value="47">Ninh Bình</option>
                                <option value="48">Ninh Thuận</option>
                                <option value="49">Phú Thọ</option>
                                <option value="50">Phú Yên</option>
                                <option value="51">Quảng Bình</option>
                                <option value="52">Quảng Nam</option>
                                <option value="53">Quảng Ngãi</option>
                                <option value="54">Quảng Ninh</option>
                                <option value="55">Quảng Trị</option>
                                <option value="56">Sóc Trăng</option>
                                <option value="57">Sơn La</option>
                                <option value="58">Tây Ninh</option>
                                <option value="59">Thái Bình</option>
                                <option value="60">Thái Nguyên</option>
                                <option value="61">Thanh Hóa</option>
                                <option value="62">Thừa Thiên Huế</option>
                                <option value="63">Tiền Giang</option>
                                <option value="64">Trà Vinh</option>
                                <option value="65">Tuyên Quang</option>
                                <option value="66">Vĩnh Long</option>
                                <option value="67">Vĩnh Phúc</option>
                                <option value="68">Yên Bái</option>
                                <option value="69">An giang</option>
                                <option value="70">Bà Rịa - Vũng Tàu</option>
                                <option value="71">Hậu Giang</option>
                                <option value="72">Điện Biên</option>
                            </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" data-select2-id="1" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            <span class="field-validation-valid" data-valmsg-for="CityId" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledCategory" data-val="true" data-val-required="The Lĩnh vực quan tâm/thế mạnh field is required." id="EnabledCategory" name="EnabledCategory" value="true">
                        <label class="custom-control-label" for="EnabledCategory">Lĩnh vực quan tâm/thế mạnh</label>
                    </div>
                    <div class=" ml-4 flex-grow-1">
                        <div id="collapseEnabledCategory" class="collapse">
                            <select multiple="" class="form-control select2-hidden-accessible" id="CategoryId" name="CategoryId" data-select2-id="CategoryId" tabindex="-1" aria-hidden="true">
                                <option value="1">Thời Trang - Làm đẹp</option>
                                <option value="2">Bán hàng online</option>
                                <option value="3">Di động - viễn thông</option>
                                <option value="4">Công nghệ - internet</option>
                                <option value="5">Marketing - Truyền thông</option>
                                <option value="6">Giáo dục - Đào tạo</option>
                                <option value="7">Hóa Học - Sinh học - Khoa học</option>
                                <option value="8">Thể Thao</option>
                                <option value="9">Xe - Vận Tải</option>
                                <option value="10">Sức khỏe - y tế</option>
                                <option value="11">Bảo hiểm - Tài chính - Ngân hàng</option>
                                <option value="13">Hành Chính - Văn phòng</option>
                                <option value="14">Điện tử - Điện lạnh - Điện dân dụng</option>
                                <option value="15">Pháp Luật</option>
                                <option value="16">Bất động sản</option>
                                <option value="17">Xuất Nhập Khẩu</option>
                                <option value="18">Game </option>
                                <option value="19">Nông - Lâm - Năng lượng - Khoáng sản</option>
                                <option value="20">Ẩm thực - Nhà hàng - Khách sạn - Du lịch</option>
                                <option value="21">Doanh nhân</option>
                                <option value="22">Hotmom</option>
                                <option value="23">Hotteen</option>
                                <option value="24">Hot Facebooker</option>
                                <option value="25">Người nổi tiếng</option>
                                <option value="26">Kế toán</option>
                                <option value="27">Nghệ thuật - Giải Trí</option>
                            </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" data-select2-id="2" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            <span class="field-validation-valid" data-valmsg-for="CategoryId" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex py-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-option" data-toggle="collapse" data-target="#collapseEnabledAccount" data-val="true" data-val-required="The Lựa chọn những Influencer/KOLs mà bạn muốn hợp tác/chỉ định field is required." id="EnabledAccount" name="EnabledAccount" value="true">
                        <label class="custom-control-label" for="EnabledAccount">Lựa chọn những Influencer/KOLs mà bạn muốn hợp tác/chỉ định</label>
                    </div>
                    <div class=" ml-4 flex-grow-1">
                        <div id="collapseEnabledAccount" class="collapse  text-right">
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#modal-influencer-selection">
                                Chọn Influencer <span class="badge badge-danger badge-influencer-count">0</span>
                            </button>
                            <div id="AccountIdsArea"></div>
                        </div>
                    </div>
                </div>
            </div>
            <h6 style="font-weight:bold;">3. Yêu cầu về KPIs - lượt tương tác cho mỗi post (Yêu cầu tăng KPIs sẽ làm tăng mức giá bạn phải trả) </h6>
            <div class="form-group">
                <label for="KPIMin">KPIs(Like + Share + Comments) tối thiểu mà influencer sẽ phải đạt cho mỗi post để được ghi nhận doanh thu</label>
                <strong>30</strong>
                <input type="hidden" data-val="true" data-val-required="The KPIs(Like + Share + Comments) tối thiểu mà influencer sẽ phải đạt cho mỗi post để được ghi nhận doanh thu field is required." id="KPIMin" name="KPIMin" value="30">
                <span class="field-validation-valid" data-valmsg-for="KPIMin" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="InteractiveMin">Bạn cần người dùng cam kết lượt tương tác đạt được tối thiểu cho mỗi post sẽ tăng thêm</label>
                <div class="d-flex flex-lc">
                    <div class="mr-2 p-2">Tương tác/post/influencer</div>
                    <div class="">
                        <input type="number" min="0" class="form-control" data-val="true" data-val-required="The Bạn cần người dùng cam kết lượt tương tác đạt được tối thiểu cho mỗi post sẽ tăng thêm field is required." id="InteractiveMin" name="InteractiveMin" value="0">
                    </div>
                </div>
                <span class="field-validation-valid" data-valmsg-for="InteractiveMin" data-valmsg-replace="true"></span>
            </div>
            <h6 style="font-weight:bold;">4. Chi phí bạn muốn trả cho mỗi Influencer</h6>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        <label for="AmountMin">Chi phí tối thiểu</label>
                        <input type="number" min="0" class="form-control" data-val="true" data-val-range="Chi phí tối thiểu phải lớn hơn 1.000đ" data-val-range-max="100000000" data-val-range-min="10000" data-val-required="The Chi phí tối thiểu field is required." id="AmountMin" name="AmountMin" value="10000">
                        <span class="field-validation-valid" data-valmsg-for="AmountMin" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AmountMax">Chi phí tối đa</label>
                        <input type="number" min="0" class="form-control" data-val="true" data-val-range="Chi phí phải lớn hơn 1.000đ" data-val-range-max="100000000" data-val-range-min="10000" data-val-required="The Chi phí tối đa field is required." id="AmountMax" name="AmountMax" value="100000">
                        <span class="field-validation-valid" data-valmsg-for="AmountMax" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <h6 style="font-weight:bold;">Thời gian</h6>
            <div class="form-group ">
                <label for="RegisterTime">Thời gian nhận đăng ký</label>
                <input type="text" class="form-control form-daterangepicker" autocomplete="off" data-val="true" data-val-required="Hãy nhập Thời gian nhận đăng ký" id="RegisterTime" name="RegisterTime" value="">
                <span class="field-validation-valid" data-valmsg-for="RegisterTime" data-valmsg-replace="true"></span>
            </div>
            <input type="hidden" id="FeedbackBefore" name="FeedbackBefore" value="05:48 PM 03/07/2020 - 03:00 AM 04/07/2020">
            <div class="form-group ">
                <label for="ExecutionTime">Thời gian thực hiện</label>
                <input type="text" class="form-control" autocomplete="off" data-val="true" data-val-required="Hãy nhập Thời gian thực hiện" id="ExecutionTime" name="ExecutionTime" value="">
                <span class="field-validation-valid" data-valmsg-for="ExecutionTime" data-valmsg-replace="true"></span>
            </div>
            <div class="text-center form-group">
                <input type="hidden" data-val="true" data-val-required="The Type field is required." id="Type" name="Type" value="ShareContent">
                <input type="hidden" id="InfoModel" name="InfoModel" value="{&quot;Title&quot;:&quot;abc&quot;,&quot;Description&quot;:&quot;là cd abc&quot;,&quot;Data&quot;:&quot;avc&quot;,&quot;Image&quot;:null,&quot;AddonImages&quot;:[],&quot;Requirement&quot;:&quot;ahs&quot;,&quot;AccountChargeTime&quot;:1,&quot;Type&quot;:1,&quot;EnabledExtraType&quot;:false,&quot;SendProduct&quot;:false,&quot;Code&quot;:null,&quot;HashTag&quot;:null,&quot;SampleContent&quot;:null,&quot;SampleContentText&quot;:null,&quot;Method&quot;:1,&quot;ReviewDate&quot;:null,&quot;ReviewAddress&quot;:null,&quot;ReviewAddress2&quot;:null,&quot;ReviewType&quot;:null,&quot;ReviewPayback&quot;:null}">
                <button class="btn btn-primary btn-bold-text" type="submit">
                    Bước cuối: Gửi yêu cầu duyệt chiến dịch
                </button>
            </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PNCY0sELJNDnpnr8tXbSDwtjPb0aFi24Z5WobelspoldSRttltAQ-sS-XZegzweWuACfzo8WM9WedHgzHqqRQegu3Kn9I18TS3_-o0_p1FoK9hLMRda7IhzwkrplYPPgvqe_1wPDDiMYpRewTn59TwiosUfcnVPy5Z3DAAo-xobkWwCa1pKwTF_dWvnGLcfJg"><input name="EnabledGender" type="hidden" value="false"><input name="EnabledAgeRange" type="hidden" value="false"><input name="EnabledCity" type="hidden" value="false"><input name="EnabledCategory" type="hidden" value="false"><input name="EnabledAccount" type="hidden" value="false"></form>
        <div class="modal fade" style="z-index: 999999;" id="modal-influencer-selection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Danh sách Influencer bạn muốn chỉ định</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--#################################-->
                        <ul class="list-unstyled">
                            <li><strong>Tìm Kiếm</strong></li>
                            <li class="mt-2 mb-4">
                                <form action="javascript:;" data-action="/Campaign/GetAccounts" class="frm-search">
                                    <div class="form-group mb-2">
                                        <div class="form-row">
                                            <div class="col-md-3">
                                                <select class="custom-select" name="type">
                                                    <option value="">Tất cả loại</option>
                                                    <option value="Regular">Tài khoản thường</option>
                                                    <option value="HotTeen">Tài khoản Hot Teen</option>
                                                    <option value="HotMom">Tài khoản Hot Mom</option>
                                                    <option value="HotFacebooker">Tài khoản Hot Facebooker</option>
                                                    <option value="Kols">Tài khoản Kols</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="kw" placeholder="Tìm kiếm Influencer">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-primary btn-bold-text">Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li id="list-influencer">
                            </li>
                            <li>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary btn-bold-text" id="btn-submitInfluencer">Đồng ý</button>
                                </div>
                            </li>
                        </ul>
                        <!--#################################-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>