<main role="main" class="flex-grow-1 px-3">
   <!-- add class main-campaign-->
    <div class="main container-fluid main-campaign">
        <div class="page-title">
            <div class="h1">  T&#x1EA1;o chi&#x1EBF;n d&#x1ECB;ch</div>
            <a class="btn btn-danger ml-auto" href="/Campaign/Create">Tạo chiến dịch</a>
        </div>
        <h3 class="mb-3 text-primary h3 sz30">Bước 2: Thông tin về chiến dịch</h3>
        <div class="card border-0">
            <img src="./assets/img/banner_share_no_caption.png" class="card-img rounded-0" />
            <div class="card-img-overlay">
                <div class="text-dark">
                    <!-- remove class col-5 row-5-->
                    <div class=" p-5 ">
                        <div class="h2"> Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption</div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-create-campaign" action="/Campaign/CreateInfo" method="post">
            <div class="p-3 mb-5 bg-white">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label style="font-weight:bold;" for="Title">T&#xEA;n chi&#x1EBF;n d&#x1ECB;ch</label>
                            <input type="text" class="form-control" placeholder="Điền tên chiến dịch" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p T&#xEA;n chi&#x1EBF;n d&#x1ECB;ch" id="Title" name="Title" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label style="font-weight:bold;" for="Data">Li&#xEA;n k&#x1EBF;t URL n&#x1ED9;i dung</label>
                            <input type="text" required class="form-control" placeholder="Điền liên kế URL nội dung" id="Data" name="Data" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Data" data-valmsg-replace="true"></span>
                        </div>
                        <input type="hidden" id="Image" name="Image" value="" />
                        <div class="form-group">

                            <label style="font-weight:bold;" for="Description">Gi&#x1EDB;i thi&#x1EC7;u ng&#x1EAF;n g&#x1ECD;n s&#x1EA3;n ph&#x1EA9;m, d&#x1ECB;ch v&#x1EE5; ch&#x1EA1;y chi&#x1EBF;n d&#x1ECB;ch</label>
                            <textarea class="form-control" required rows="2" id="Description" name="Description">
</textarea>
                            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label style="font-weight:bold;" for="Requirement">Y&#xEA;u c&#x1EA7;u c&#x1EE5; th&#x1EC3; chi&#x1EBF;n d&#x1ECB;ch</label>
                            <textarea class="form-control" required rows="2" id="Requirement" name="Requirement">
</textarea>
                            <span class="field-validation-valid" data-valmsg-for="Requirement" data-valmsg-replace="true"></span>
                        </div>
                        <input type="hidden" id="AccountChargeTime" name="AccountChargeTime" value="1" />
                        <div class="form-group ">
                            <label style="font-weight:bold;" for="HashTag">HashTag</label>
                            <select multiple class="form-control" id="HashTag" name="HashTag"></select>
                            <span class="field-validation-valid" data-valmsg-for="HashTag" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-val="true" data-val-required="The &#x110;&#xED;nh k&#xE8;m h&#xEC;nh &#x1EA3;nh c&#xE1; nh&#xE2;n field is required." id="EnabledExtraType" name="EnabledExtraType" value="true" />
                                <label class="custom-control-label" style="font-weight:bold;" for="EnabledExtraType">&#x110;&#xED;nh k&#xE8;m h&#xEC;nh &#x1EA3;nh c&#xE1; nh&#xE2;n</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-weight:bold;" for="SampleContentText">N&#x1ED9;i dung m&#x1EAB;u</label>
                            <textarea class="form-control" rows="3" placeholder="Nội dung mẫu chiến dịch viết tại đây" id="SampleContentText" name="SampleContentText">
</textarea>
                        </div>
                        <input type="hidden" id="ReviewType" name="ReviewType" value="" />
                        <input type="hidden" id="ReviewAddress" name="ReviewAddress" value="" />
                        <input type="hidden" id="ReviewAddress2" name="ReviewAddress2" value="" />
                        <input type="hidden" id="ReviewDate" name="ReviewDate" value="" />
                        <div class="text-center form-group">
                            <input type="hidden" data-val="true" data-val-required="The Lo&#x1EA1;i chi&#x1EBF;n d&#x1ECB;ch field is required." id="Type" name="Type" value="ShareContent" />
                            <button class="btn btn-primary btn-bold-text" type="submit">
                                Bước 3: Yêu cầu về đối tượng của chiến dịch
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PNCY0sELJNDnpnr8tXbSDxnwoZLu00pg9tykjHkdDcodrQ_7NYTgkYTZeKcEjWLpyu5OQIQ8i5pkHvvQv2mZIsnYr0DpPrBedud1DyF6h_6Q3emQynaJpe4tHKxDtCxvZI458XtqY1_uzniXcfwLtjBx00psZm549CbDUu2h2SHSodLd__AZQqVjPG5GGGF-g" /><input name="EnabledExtraType" type="hidden" value="false" /></form>
    </div>
</main>