<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <div class="page-title">
            <div class="h1" > Chiến dịch  </div>
            <span class=" h3 text-secondary px-2">/</span>
            <h1 class=" h3 text-secondary">Chi&#x1EBF;n d&#x1ECB;ch 127062001</h1>
            <a class="btn btn-danger ml-auto" href="/Campaign/Create">Tạo chiến dịch</a>
        </div>
        <h3 class="mt-4 mb-4 text-grey">Chiến dịch: MiroPure Electric Callus Remover, Professional Wet and Dry 100% Waterproof and 3X Powerful Pedicure Foot File for Dead Hard Cracked Skin</h3>
        <div class="mb-5 bg-white rounded campaigndetails">
            <ul class="nav nav-tabs nav-campaign nav-50">
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-cms/build/campaign-detail.html">Chi tiết chiến dịch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/microkols-cms/build/thong-ke.html">Thống kê</a>
                </li>
            </ul>
            <div class="tab-content" id="nav-tab-content-campaign">
                <div class="tab-pane fade active show" id="nav-campaign-detail" role="tabpanel">
                    <div class="card card-body  border-0">
                        <div class="row info">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <h5 class="mr-2">1. Mã chiến dịch:</h5><span>127062001</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">2. Tên chiên dịch:</h5>
                                    <span>MiroPure Electric Callus Remover, Professional Wet and Dry 100% Waterproof and 3X Powerful Pedicure Foot File for Dead Hard Cracked Skin</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">3. Loại chiến dịch:</h5>
                                    <span>Chia sẻ thông điệp, không cần viết caption</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">4. Trạng thái:</h5><i class='fas fa-circle text-success'></i> <span>Hoàn thành</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">5. Tổng phí:</h5> <span class="text-danger txt-bold">0 &#x111;</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">6. Đã thanh toán:</h5> <span class="text-danger txt-bold">100,100 &#x111;</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">7. Còn lại:</h5>  <span class="text-danger txt-bold">-100,100 &#x111;</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">8. Ngày tạo:</h5> <span class="text-info"> 16:43 27/06/2020</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">9. Thời gian nhận đăng ký:</h5>
                                    <span class="text-info"> 16:41 27/06/2020</span> -
                                    <span class="text-info">02:00 28/06/2020</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">10. Thời gian gửi nội dung/ Thời gian trải nghiệm:</h5>
                                    <span class="text-info">15:55 07/10/2019</span> -
                                    <span class="text-info">1:00 08/11/2019</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">11. Thời gian thực hiện:</h5>
                                    <span class="text-info"> 02:01 28/06/2020</span> -
                                    <span class="text-info">12:00 28/06/2020</span>
                                </div>

                                <div class="mb-2">
                                    <h5 class="mr-2">12. Giới thiệu ngắn gọn sản phẩm, dịch vụ chạy chiến dịch</h5>
                                    <span>ICON DENIM là shop thời trang nam tại 12-12 bis Cách Mạng Tháng Tám, phường Bến Thành, quận 1, TP.HCM</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">13. Link nội dung:</h5>
                                    <a href="https://dantri.com.vn/the-gioi/hang-loat-bang-cua-my-ngung-mo-cua-vi-song-than-covid-19-tro-lai-20200627081246459.htm" target="_blank">https://dantri.com.vn/the-gioi/hang-loat-bang-cua-my-ngung-mo-cua-vi-song-than-covid-19-tro-lai-20200627081246459.htm</a>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">14. Yêu cầu về chiến dịch:</h5>
                                    <span>Viết cảm nhận của bạn về sản phẩm thẻ của TPBank, những điều bạn cần khi đi du lịch hoặc nhu cầu chi tiêu hàng ngày và thẻ TPBank Visa Platinum của TPBank đã đáp ứng được + bài viết kèm theo 01 hình ảnh</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <h5 class="mr-2">12. Số lượng người cần:</h5>
                                    <span>10</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">15. Đối tượng tham gia:</h5>
                                    <span>Hot Mom</span>
                                </div>

                                <div class="mb-2">
                                    <h5 class="mr-2">16. Tiêu chí:</h5>
                                    <span>• Khu vực: Hà Nội Hồ Chí Minh</span>
                                    <span>• Độ tuổi: 25 - 45</span>
                                    <span>• Con cái: Tất cả giới tính - Độ tuổi 0 - 20</span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">17. HashTag:</h5>
                                    <span><span>#covid</span></span>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">18. Ảnh chiến dịch cung cấp:</h5>
                                    <div class="img-campaign flex">
                                        <img src="./assets/img/img-campaign.jpg" alt="">
                                        <img src="./assets/img/img-campaign.jpg" alt="">
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mr-2">19. Nội dung mẫu:</h5>
                                    <span>Viết cảm nhận của bạn về sản phẩm thẻ của TPBank, những điều bạn cần khi đi du lịch hoặc nhu cầu chi tiêu hàng ngày và thẻ TPBank Visa Platinum của TPBank đã đáp ứng được + bài viết kèm theo 01 hình ảnh</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 campaign_btn">
                            <a href="" class="btn_pay">Thanh toán</a>
                            <a href="" class="btn_change">Thay đổi chiến dịch</a>
                            <a href="" class="btn_cancel">Hủy chiến dịch</a>
                        </div>
                        <hr>
                        <div class="nav-responsive">
                            <ul class="nav nav-tabs nav-campaign" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tabProcess">Thực hiện chiến dịch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#tabReview">Theo dõi chiến dịch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#tabPayment">Thanh toán</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade active show" id="tabProcess">
                                <div class="py-2">
                                    <ul class="list-inline campaign-row-item">
                                        <li class="list-inline-item">Người đăng ký tham gia:</li>
                                        <li class="list-inline-item">
                                            <a href="javascript:;" data-toggle="modal" data-target="#accountCampaign341Modal" class="kol-join">
                                                <i class="fa fa-users"></i> 0/10
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="modal fade modal-accountcampaign" z-index: 9999999; id="accountCampaign341Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Danh sách Kols tham gia chiến dịch</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <nav class="mb-3">
                                                        <div class="nav nav-tabs nav-campaign" id="nav-tab" role="tablist">
                                                            <a class="nav-item nav-link active" data-type="1" data-toggle="tab" href="#nav-kol-341-join-1" role="tab" aria-controls="nav-home" aria-selected="true">Kols đã mời tham gia chiến dịch</a>
                                                            <a class="nav-item nav-link" data-type="2" data-toggle="tab" href="#nav-kol-341-join-2" role="tab" aria-controls="nav-profile" aria-selected="false">Kols phù hợp với chiến dịch</a>
                                                        </div>
                                                    </nav>
                                                    <div class="tab-content" id="nav-tabContent">
                                                        <div class="tab-pane fade show active" id="nav-kol-341-join-1" role="tabpanel" aria-labelledby="nav-home-tab">
                                                            <h6><strong>Tham gia:</strong> <span class="text-danger">0/10</span></h6>
                                                            <div class="list-campaignaccount" data-url="/Campaign/CampaignAccountPartial?campaignid=341"></div>
                                                        </div>
                                                        <div class="tab-pane fade" id="nav-kol-341-join-2" role="tabpanel" aria-labelledby="nav-home-tab">
                                                            <div class="list-matchedaccount" data-url="/Campaign/MatchedAccountPartial?campaignid=341"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                Người chia sẻ
                                            </th>
                                            <th>
                                                Nội dung chia sẻ
                                            </th>
                                            <th>
                                                KPI cam kết
                                            </th>
                                            <th>Trạng thái</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <a href="https://www.facebook.com/hangoc.khanhhuy.1" target="_blank">
                                                        H&#xE0; Ng&#x1ECD;c Kh&#xE1;nh Huy
                                                    </a>
                                                </div>
                                            </td>
                                            <td>Chia sẻ thông điệp, kh...</td>
                                            <td>1000</td>
                                            <td>
                                                <span><i class="fas fa-circle text-success"></i> Hoàn thành</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal fade" style="z-index: 9999999;" id="caption-history-account-process" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                                        <div class="modal-content h-75">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Lịch sử sửa caption</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe frameborder="0" scrolling="no" id="iframe-caption-history" width="100%" height="100%"></iframe>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" style="z-index: 9999999;" id="content-history-account-process" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                                        <div class="modal-content h-75">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Lịch sử sửa nội dung</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe frameborder="0" scrolling="no" id="iframe-content-history" width="100%" height="100%"></iframe>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="tabReview">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                Người chia sẻ
                                            </th>
                                            <th>
                                                Nội dung chia sẻ
                                            </th>
                                            <th>
                                                KPI cam kết
                                            </th>
                                            <th>
                                                Đánh giá người dùng
                                            </th>
                                            <th>
                                                Trạng thái
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <a href="https://www.facebook.com/hangoc.khanhhuy.1" target="_blank">
                                                            H&#xE0; Ng&#x1ECD;c Kh&#xE1;nh Huy
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>Chia sẻ thông điệp, kh...</td>
                                                <td>1000</td>
                                                <td>
                                                    <span><i class="fas fa-circle text-success"></i> Đã đánh giá</span>
                                                </td>
                                                <td>
                                                    <span><i class="fas fa-circle text-success"></i> Hoàn thành</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <a href="https://www.facebook.com/hangoc.khanhhuy.1" target="_blank">
                                                            H&#xE0; Ng&#x1ECD;c Kh&#xE1;nh Huy
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>Chia sẻ thông điệp, kh...</td>
                                                <td>1000</td>
                                                <td>
                                                    <span><i class="fas fa-circle text-dark"></i> Chưa đánh giá</span>
                                                </td>
                                                <td>
                                                    <span><i class="fas fa-circle text-dark"></i> Chiến dịch bị hủy</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                                    <div class="toast-header">
                                        <strong class="mr-auto">Bootstrap</strong>
                                        <small>11 mins ago</small>
                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="toast-body">
                                        Hello, world! This is a toast message.
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="tabPayment">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="w-">
                                                STT
                                            </th>
                                            <th>
                                                Người chia sẻ
                                            </th>
                                            <th>
                                                Trạng thái
                                            </th>
                                            <th>
                                                Chi phí
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="https://www.facebook.com/hangoc.khanhhuy.1" target="_blank">
                                                    H&#xE0; Ng&#x1ECD;c Kh&#xE1;nh Huy
                                                </a>
                                            </td>
                                            <td>
                                                <span class='badge badge-info'>Chưa hoàn thành</span>
                                            </td>
                                            <td class="text-danger">
                                                100,100 &#x111;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right">Tổng</td>
                                            <td class="text-danger">100,100 &#x111;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>