<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">C&#xE0;i &#x111;&#x1EB7;t doanh nghi&#x1EC7;p</h1>
        <div class="nav-responsive">
            <ul class="nav  nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-cms/build/changeinfo.html">Thông tin doanh nghiệp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-cms/build/ChangePassword.html">Thay đổi mật khẩu</a>
                </li>
            </ul>
        </div>
        <div class="tab-content mt-40">
            <div class="tab-pane fade show active">
                <form method="post" enctype="multipart/form-data" action="" class="form-updateinfo">
                    <div></div>
                    <div class="row">
                        <!--change col-->
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <input type="hidden" id="Image" name="Image" value="agency/2020/2/17/LJVDITCSVD.jpg" />
                                <div class="user-avatar">
                                    <img src="https://resources.microkols.com//agency/2020/2/17/LJVDITCSVD.jpg">
                                    <label class="changeavatar" for="uploadimg01"></label>
                                    <input type="file" class="custom-file-input  image-upload" id="uploadimg01" data-target="#Image" data-preview=".img-Image" name="file">
                                </div>​
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="form-group">
                                <label for="Type">Lo&#x1EA1;i T&#xE0;i kho&#x1EA3;n</label>
                                <div class="flex choose-account">
                                    <div>
                                        <div class="custom-control custom-radio custom-control">
                                            <input type="radio" checked value="DoanhNghiep"
                                                   name="Type" id="agencyTypeDoanhNghiep" class="custom-control-input form-Type">
                                            <label class="custom-control-label" for="agencyTypeDoanhNghiep">
                                                Doanh nghi&#x1EC7;p
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-radio custom-control">
                                            <input type="radio"  value="HoKinhDoanh"
                                                   name="Type" id="agencyTypeHoKinhDoanh" class="custom-control-input form-Type">
                                            <label class="custom-control-label" for="agencyTypeHoKinhDoanh">
                                                H&#x1ED9; kinh doanh/C&#xE1; th&#x1EC3; kinh doanh
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="Type" data-valmsg-replace="true"></span>
                            </div>
                            <div class="dfor-DoanhNghiep dfor-Type dfor-HoKinhDoanh dfor-Type">
                                <div class="form-group">
                                    <label for="Name">
                                        Tên <span class="dfor-DoanhNghiep dfor-Type">Doanh nghiệp</span>
                                        <span class="dfor-HoKinhDoanh dfor-Type">Hộ kinh doanh</span>
                                    </label>
                                    <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p T&#xEA;n doanh nghi&#x1EC7;p" id="Name" name="Name" placeholder="T&#xEA;n doanh nghi&#x1EC7;p" value="c&#xF4;ng ty tnhh abc" />
                                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Phone">S&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i</label>
                                    <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p S&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i" id="Phone" name="Phone" value="123456789" />
                                    <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group dfor-HoKinhDoanh dfor-Type">
                                    <label for="Email">Email</label>
                                    <input type="text" class="form-control" id="Email" name="Email" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group  dfor-DoanhNghiep dfor-Type">
                                    <label for="TaxIdNumber">M&#xE3; s&#x1ED1; thu&#x1EBF;</label>
                                    <input type="text" class="form-control" id="TaxIdNumber" name="TaxIdNumber" value="000000" />
                                    <span class="field-validation-valid" data-valmsg-for="TaxIdNumber" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group dfor-DoanhNghiep dfor-Type">
                                    <label for="Address">&#x110;&#x1ECB;a ch&#x1EC9;</label>
                                    <input type="text" class="form-control" id="Address" name="Address" value="h&#xE0; n&#x1ED9;i" />
                                    <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group dfor-HoKinhDoanh dfor-Type">
                                    <label for="Description">L&#x129;nh v&#x1EF1;c ho&#x1EA1;t &#x111;&#x1ED9;ng</label>
                                    <textarea type="text" class="form-control" id="Description" name="Description"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Cập nhật" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PNCY0sELJNDnpnr8tXbSDxvwlkq_xht290pBSMydh4FxMgzUSoD_Pn7qYBIjsJ_ch-VQYNaWlMqmgR4nT5ZKs1-dcPaL45WUXGjbXXHUWL40H_tOVWp7x1Dpsq3H1_iojLE0_8ba1nssPPDqwDFmA9LWqd9epsEjdc_9uuQTtn0d3Mo-tpRZDxoERjNBQqK6Q" /></form>
            </div>
        </div>
    </div>
</main>