<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">C&#xE0;i &#x111;&#x1EB7;t doanh nghi&#x1EC7;p</h1>
        <div class="nav-responsive">
            <ul class="nav  nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-cms/build/changeInfo.html">Thông tin doanh nghiệp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-cms/build/ChangePassword.html">Thay đổi mật khẩu</a>
                </li>
            </ul>
        </div>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active">
                <form method="post" enctype="multipart/form-data" action="/Agency/ChangePassword">
                    <div class="form-group">
                        <label for="OldPassword">M&#x1EAD;t kh&#x1EA9;u c&#x169;</label>
                        <input type="password" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p M&#x1EAD;t kh&#x1EA9;u c&#x169;" id="OldPassword" name="OldPassword" />
                        <span class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">M&#x1EAD;t kh&#x1EA9;u m&#x1EDB;i</label>
                        <input type="password" class="form-control" data-val="true" data-val-length="&#x110;&#x1ED9; d&#xE0;i M&#x1EAD;t kh&#x1EA9;u m&#x1EDB;i ph&#x1EA3;i l&#x1EDB;n h&#x1A1;n 6 k&#xFD; t&#x1EF1;." data-val-length-max="100" data-val-length-min="6" data-val-required="H&#xE3;y nh&#x1EAD;p M&#x1EAD;t kh&#x1EA9;u m&#x1EDB;i" id="NewPassword" maxlength="100" name="NewPassword" />
                        <span class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Nh&#x1EAD;p l&#x1EA1;i m&#x1EAD;t kh&#x1EA9;u m&#x1EDB;i</label>
                        <input type="password" class="form-control" data-val="true" data-val-equalto="M&#x1EAD;t kh&#x1EA9;u v&#xE0; x&#xE1;c nh&#x1EAD;n m&#x1EAD;t kh&#x1EA9;u kh&#xF4;ng tr&#xF9;ng nhau." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" />
                        <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary">
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PNCY0sELJNDnpnr8tXbSDxd8O9z3g4zfAAc_xpoERqjNTsHGLbVDchgip_S-D7bVVcvjqV9WY8TP_QrqBPWD5VNpg4i4GhxfLC8zxUWbb91EIq2O_2_jEIVIFK5arsN8_rIrgMfShQeuXsXeD6nob-Vj5zMKWn2ozq6PZJb5Bn8m8V2Ja-4X3vLRbgjOxL2GQ" />
                </form>
            </div>
        </div>
    </div>
</main>