<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <div class="page-title">
            <div class="h1"> Thông tin ví</div>
            <span class=" h3 text-secondary px-2">/</span>
            <div class=" h3 text-secondary">Nạp tiền</div>
            <span class=" h3 text-secondary px-2">/</span>
            <h1 class=" h3 text-secondary">L&#x1ECB;ch s&#x1EED;</h1>
        </div>
        <div class="payment">
            <nav>
                <!--thay đổi cấu truc tab -->
                <ul class="nav nav-tabs nav-campaign nav-50" id="nav-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link " href="/microkols-cms/build/recharge.html">Nạp tiền</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/microkols-cms/build/history.html">Lịch sử</a></li>
                </ul>
            </nav>
            <div class="tab-content mt-3" id="nav-tabContent">
                <div class="tab-pane fade show active">
                    <div class="form-group">
                        <form method="get" class="form-inline" action="/Wallet/History">
                            <input type="text" class="form-control form-daterangepicker" style="width:200px;" autocomplete="off" name="daterange" value=" 01/01/2019 -  03/07/2020" placeholder="Từ ngày ... đến ngày">
                            <input type="hidden" name="type" value="WalletRecharge" />
                            <input type="submit" class="btn btn-primary ml-2" value="Tìm kiếm" />
                        </form>
                    </div>
                    <!--add class table-responsive-->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Mã Giao Dịch</th>
                                <th scope="col">Số Tiền</th>
                                <th scope="col">Còn lại</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Nội dung</th>
                                <th scope="col">
                                    Ngày thanh toán
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>11590249339</td>
                                <td class="text-danger">100,000 &#x111;</td>
                                <td class="text-success">285,229,199 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>abc</td>
                                <td> 15:55 23/05/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>11585237170</td>
                                <td class="text-danger">3,000,000 &#x111;</td>
                                <td class="text-success">287,290,799 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>Nh&#x1EAD;n &#x111;&#x1B0;&#x1EE3;c ti&#x1EC1;n n&#x1EA1;p lu&#xF4;n cho anh nh&#xE9; Microkols</td>
                                <td> 15:39 26/03/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>11585237028</td>
                                <td class="text-danger">2,000,000 &#x111;</td>
                                <td class="text-success">285,290,799 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>nh&#x1EAD;n &#x111;&#x1B0;&#x1EE3;c ti&#x1EC1;n n&#x1EA1;p lu&#xF4;n cho anh nh&#xE9; microkols</td>
                                <td> 15:37 26/03/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>11562756751</td>
                                <td class="text-danger">50,000 &#x111;</td>
                                <td class="text-success">301,931,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Tr&#x1EF1;c ti&#x1EBF;p&quot;,&quot;Bank&quot;:&quot;Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng&quot;}</td>
                                <td> 11:05 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>11562775908</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">301,811,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 16:25 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>11562775908</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">301,691,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 16:25 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>11562776814</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">301,571,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Tr&#x1EF1;c ti&#x1EBF;p&quot;,&quot;Bank&quot;:&quot;Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng&quot;}</td>
                                <td> 16:40 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>11562776814</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">301,451,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Tr&#x1EF1;c ti&#x1EBF;p&quot;,&quot;Bank&quot;:&quot;Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng&quot;}</td>
                                <td> 16:40 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>11562776861</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">301,331,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 16:41 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>11562776914</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">301,211,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Tr&#x1EF1;c ti&#x1EBF;p&quot;,&quot;Bank&quot;:&quot;Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng&quot;}</td>
                                <td> 16:41 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>11562777126</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">301,091,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Tr&#x1EF1;c ti&#x1EBF;p&quot;,&quot;Bank&quot;:&quot;Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng&quot;}</td>
                                <td> 16:45 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>11562777170</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">300,971,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Tr&#x1EF1;c ti&#x1EBF;p&quot;,&quot;Bank&quot;:&quot;Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng&quot;}</td>
                                <td> 16:46 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>11563092111</td>
                                <td class="text-danger">192,000 &#x111;</td>
                                <td class="text-success">300,779,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 08:15 14/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>11564052225</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">300,659,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 10:57 25/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>11564072236</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">300,539,400 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 16:30 25/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>11562777170</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">4,357,000 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Tr&#x1EF1;c ti&#x1EBF;p&quot;,&quot;Bank&quot;:&quot;Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng&quot;}</td>
                                <td> 16:46 10/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>11563092111</td>
                                <td class="text-danger">192,000 &#x111;</td>
                                <td class="text-success">4,165,000 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 08:15 14/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>11564052225</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">4,045,000 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 10:57 25/07/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>11564072236</td>
                                <td class="text-danger">120,000 &#x111;</td>
                                <td class="text-success">3,925,000 &#x111;</td>
                                <td>
                                    <span class='badge badge-success'>Thành công</span>
                                </td>
                                <td>{&quot;Method&quot;:&quot;Chuy&#x1EC3;n kho&#x1EA3;n&quot;,&quot;Bank&quot;:&quot;ViettinBank&quot;}</td>
                                <td> 16:30 25/07/2019</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <strong>Tổng:</strong>
                                </li>
                                <li class="list-inline-item">
                                    <strong style="color: red">6,302,000 &#x111;</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <ul class="pagination justify-content-end"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>