<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Th&#xF4;ng b&#xE1;o</h1>
        <form method="get" action="/Notification">
            <div class="form-group mb-4">
                <div class="form-row">
                    <div class="col-md-4">
                        <select class="custom-select " name="type">
                            <option value="">Tất cả</option>
                            <option value="System" >H&#x1EC7; th&#x1ED1;ng</option>
                            <option value="Campaign" >Chi&#x1EBF;n d&#x1ECB;ch</option>
                            <option value="Payment" >Thanh to&#xE1;n</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control  form-daterangepicker" name="daterange" autocomplete="off" placeholder="Từ ngày ... đến ngày">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary ">Tìm kiếm</button>
                    </div>
                </div>

            </div>
        </form>
        <!--add class nav-reponsive-->
        <div class="nav-responsive">
            <ul class="nav nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link active" href="/Notification">Tất cả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/Notification?type=System">H&#x1EC7; th&#x1ED1;ng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/Notification?type=Campaign">Chi&#x1EBF;n d&#x1ECB;ch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/Notification?type=Payment">Thanh to&#xE1;n</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel">
                <ul class="list-unstyled mt-3">
                    <li>
                        <div class="mb-3">

                            <a href="/Campaign/Details/337" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch 323052004 b&#x1ECB; h&#x1EE7;y v&#xEC; l&#xED; do Kh&#xF4;ng c&#xF3; th&#xE0;nh vi&#xEA;n th&#x1EF1;c hi&#x1EC7;n chi&#x1EBF;n d&#x1ECB;ch
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 9 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/338" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch 323052005 b&#x1ECB; h&#x1EE7;y v&#xEC; l&#xED; do Kh&#xF4;ng c&#xF3; th&#xE0;nh vi&#xEA;n th&#x1EF1;c hi&#x1EC7;n chi&#x1EBF;n d&#x1ECB;ch
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 22 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/336" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch 323052003 b&#x1ECB; h&#x1EE7;y v&#xEC; l&#xED; do Kh&#xF4;ng c&#xF3; th&#xE0;nh vi&#xEA;n th&#x1EF1;c hi&#x1EC7;n chi&#x1EBF;n d&#x1ECB;ch
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 24 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/334" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch 323052001 b&#x1ECB; h&#x1EE7;y v&#xEC; l&#xED; do Kh&#xF4;ng c&#xF3; th&#xE0;nh vi&#xEA;n th&#x1EF1;c hi&#x1EC7;n chi&#x1EBF;n d&#x1ECB;ch
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 25 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/335" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch 323052002 b&#x1ECB; h&#x1EE7;y v&#xEC; l&#xED; do Kh&#xF4;ng c&#xF3; th&#xE0;nh vi&#xEA;n th&#x1EF1;c hi&#x1EC7;n chi&#x1EBF;n d&#x1ECB;ch
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 26 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/338" class="notif-link">
                                Th&#xE0;nh vi&#xEA;n minh.inzaghi@gmail.com &#x111;&#xE3; &#x111;&#x1EC1; xu&#x1EA5;t &#x111;&#x1B0;&#x1EE3;c tham gia chi&#x1EBF;n d&#x1ECB;ch 338
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 33 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Content?campaignid=337" class="notif-link">
                                Th&#xE0;nh vi&#xEA;n 124979742045137@facebook.com &#x111;&#xE3; g&#x1EED;i n&#x1ED9;i dung chi&#x1EBF;n d&#x1ECB;ch 337
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 37 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/337" class="notif-link">
                                Th&#xE0;nh vi&#xEA;n minh.inzaghi@gmail.com &#x111;&#xE3; &#x111;&#x1EC1; xu&#x1EA5;t &#x111;&#x1B0;&#x1EE3;c tham gia chi&#x1EBF;n d&#x1ECB;ch 337
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 33 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="#" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch &quot;Chi&#x1EBF;n d&#x1ECB;ch 2 - 23/5&quot; b&#x1EA1;n t&#x1EA1;o &#x111;&#xE3; &#x111;&#x1B0;&#x1EE3;c duy&#x1EC7;t b&#x1EDF;i h&#x1EC7; th&#x1ED1;ng
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 40 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="#" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch &quot;chi&#x1EBF;n d&#x1ECB;ch 3 - 23/5&quot; b&#x1EA1;n t&#x1EA1;o &#x111;&#xE3; &#x111;&#x1B0;&#x1EE3;c duy&#x1EC7;t b&#x1EDF;i h&#x1EC7; th&#x1ED1;ng
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 40 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="#" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch &quot;chi&#x1EBF;n d&#x1ECB;ch 4 - 23/5&quot; b&#x1EA1;n t&#x1EA1;o &#x111;&#xE3; &#x111;&#x1B0;&#x1EE3;c duy&#x1EC7;t b&#x1EDF;i h&#x1EC7; th&#x1ED1;ng
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 40 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="#" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch &quot;chi&#x1EBF;n d&#x1ECB;ch 5 - 23/5&quot; b&#x1EA1;n t&#x1EA1;o &#x111;&#xE3; &#x111;&#x1B0;&#x1EE3;c duy&#x1EC7;t b&#x1EDF;i h&#x1EC7; th&#x1ED1;ng
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 40 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="#" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch &quot;Chi&#x1EBF;n d&#x1ECB;ch 1 - 23/5&quot; b&#x1EA1;n t&#x1EA1;o &#x111;&#xE3; &#x111;&#x1B0;&#x1EE3;c duy&#x1EC7;t b&#x1EDF;i h&#x1EC7; th&#x1ED1;ng
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 40 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/333" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5, c&#x1EE7;a b&#x1EA1;n &#x111;&#xE3; k&#x1EBF;t th&#xFA;c.
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 45 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/333" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5, c&#x1EE7;a b&#x1EA1;n &#x111;&#xE3; b&#x1EAF;t &#x111;&#x1EA7;u.
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 45 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Caption?campaignid=333" class="notif-link">
                                Th&#xE0;nh vi&#xEA;n goodcomvietnam@gmail.com &#x111;&#xE3; g&#x1EED;i n&#x1ED9;i dung Caption chi&#x1EBF;n d&#x1ECB;ch 333
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 45 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/333" class="notif-link">
                                Th&#xE0;nh vi&#xEA;n goodcomvietnam@gmail.com &#x111;&#xE3; &#x111;&#x1ED3;ng &#xFD; tham gia chi&#x1EBF;n d&#x1ECB;ch 333
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 45 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="#" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch &quot;chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5&quot; b&#x1EA1;n t&#x1EA1;o &#x111;&#xE3; &#x111;&#x1B0;&#x1EE3;c duy&#x1EC7;t b&#x1EDF;i h&#x1EC7; th&#x1ED1;ng
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 45 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/332" class="notif-link">
                                Chi&#x1EBF;n d&#x1ECB;ch chi&#x1EBF;n d&#x1ECB;ch 4 - 15/5, c&#x1EE7;a b&#x1EA1;n &#x111;&#xE3; k&#x1EBF;t th&#xFA;c.
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 48 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div class="mb-3">
                            <a href="/Campaign/Details/332" class="notif-link">
                                Th&#xE0;nh vi&#xEA;n goodcomvietnam@gmail.com &#x111;&#xE3; th&#x1EF1;c hi&#x1EC7;n c&#xF4;ng vi&#x1EC7;c chi&#x1EBF;n d&#x1ECB;ch 332
                            </a>
                        </div>
                        <div class="d-flex align-items-baseline justify-content-between">
                            <div class="small text-black-50"><i class="fas fa-clock"></i> 48 ng&#xE0;y tr&#x1B0;&#x1EDB;c</div>
                        </div>
                        <hr />
                    </li>
                </ul>
                <nav class="mt-4">
                    <ul class="pagination justify-content-end"><li class="active page-item"><a class="page-link" href="/Notification?pageindex=1">1</a></li>
                        <li class="page-item"><a class="page-link" href="/Notification?pageindex=2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/Notification?pageindex=3">3</a></li>
                        <li class="page-item"><a class="page-link" href="/Notification?pageindex=4">4</a></li>
                        <li class="page-item"><a class="page-link" href="/Notification?pageindex=2"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>