<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <div class="page-title">
            <div class="h1"> Thông tin ví</div>
            <span class=" h3 text-secondary px-2">/</span>
            <h1 class=" h3 text-secondary">N&#x1EA1;p ti&#x1EC1;n</h1>
        </div>
        <nav>
            <ul class="nav nav-tabs nav-campaign nav-50" id="nav-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="/microkols-cms/build/recharge.html">Nạp tiền</a></li>
                <li class="nav-item"><a class="nav-link" href="/microkols-cms/build/history.html">Lịch sử</a></li>
            </ul>
        </nav>
        <div class="tab-content mt-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-lg-8">
                        <form method="post" action="/Wallet/Recharge" id="frmRecharge">
                            <div></div>
                            <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
                            </ul></div>
                            <div class="form-group">
                                <label for="Amount">S&#x1ED1; ti&#x1EC1;n</label>
                                <input type="number" class="form-control" data-val="true" data-val-range="S&#x1ED1; ti&#x1EC1;n kh&#xF4;ng &#x111;&#xFA;ng" data-val-range-max="100000000000" data-val-range-min="1000" data-val-required="H&#xE3;y nh&#x1EAD;p S&#x1ED1; ti&#x1EC1;n" id="Amount" name="Amount" value="0" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="Method">H&#xEC;nh th&#x1EE9;c</label> <br />
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Trực tiếp" id="Method1" name="Method" class="custom-control-input">
                                    <label class="custom-control-label" for="Method1">Trực tiếp</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" checked value="Chuyển khoản" id="Method2" name="Method" class="custom-control-input">
                                    <label class="custom-control-label" for="Method2">Chuyển khoản</label>
                                </div>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Method" data-valmsg-replace="true"></span>
                            </div>
                            <div id="bankWrap" class="d-none">
                                <div class="form-group">
                                    <label for="Bank">Ng&#xE2;n h&#xE0;ng nh&#x1EAD;n</label>
                                    <select name="Bank" class="form-control" id="Bank">
                                        <option>Chọn ngân hàng nhận</option>
                                        <option value="ViettinBank">Ng&#xE2;n H&#xE0;ng TMCP C&#xF4;ng Th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam (Viettin Bank)</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Bank" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Note">Ghi ch&#xFA;</label>
                                <div>
                                <textarea class="form-control" id="Note" name="Note">
</textarea>
                                </div>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Note" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <input type="hidden" data-val="true" data-val-required="The CampaignId field is required." id="CampaignId" name="CampaignId" value="0" />
                                <input type="submit" value="NẠP TIỀN" class="btn btn-submit btn-primary " />
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div id="bankinfoViettinBank" class="bankinfo d-none card card-body">
                            <p><b>Ng&#xE2;n H&#xE0;ng TMCP C&#xF4;ng Th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam (Viettin Bank)</b></p>
                            <p>Tài khoản: <span class="text-success">Nguy&#x1EC5;n V&#x103;n A</span> </p>
                            <p>Số tài khoản: <span class="text-danger">10000088888</span> </p>
                            <p>Chi nhánh: <i>Chi nh&#xE1;nh H&#xE0; N&#x1ED9;i</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
        </div>
    </div>
</main>