<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Chi&#x1EBF;n d&#x1ECB;ch 318052001</h1>
        <h3 class="mt-4 mb-4">Chiến dịch: chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5</h3>
        <div class="mb-5 bg-white rounded">
            <ul class="nav nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-cms/build/campaign-detail.html">Chi tiết chiến dịch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-cms/build/thong-ke.html">Thống kê</a>
                </li>
            </ul>
            <div class="tab-content" id="nav-tab-content-campaign">
                <div class="tab-pane fade active show" id="nav-campaign-detail" role="tabpanel">
                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade active show">
                            <div class="card mb-3 shadow border-0 card-body">

                                <h5 class=" my-3">chi&#x1EBF;n d&#x1ECB;ch 1 - 18/5</h5>
                                <p>
                                    <i class="fab fa-facebook"></i> Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption
                                </p>
                                <p>Tổng tương tác: <strong>2730</strong></p>
                                <script type="text/template" id="chartModel">
                                    [["Ngày","Thích","Share","Comment"],["18-2-2020",41,54,23],["19-2-2020",111,142,43],["20-2-2020",241,454,223],["21-2-2020",451,524,423]]
                                </script>
                                <div id="chartStatistic" style="width: 100%; height: 500px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>