<main role="main" class="flex-grow-1 px-3">
    <!--add class main-wallet-->
    <div class="main container-fluid main-wallet">
        <h1 class="page-title">Th&#xF4;ng tin v&#xED;</h1>
        <div class="row">
           <!-- edit col-->
            <div class="col-md-5 col-lg-4">
                <a href="/microkols-cms/build/recharge.html">
                    <div class="card  ">
                        <div class="card-img">
                            <img src="./assets/img/icon_naptien.png" class="card-img-top img-card-true-size-center" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Nạp tiền
                            </h5>
                            <hr />
                            <p class="mb-1">Số lần nạp tiền <strong>3</strong></p>
                            <p>Tổng tiền đã nạp <strong class="text-danger">90,126,500 &#x111;</strong></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-5 col-lg-4">
                <a href="/microkols-cms/build/WithDraw.html">
                    <div class="card ">
                        <div class="card-img">
                            <img src="./assets/img/icon_ruttien.png" class="card-img-top img-card-true-size-center" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Rút tiền
                            </h5>
                            <hr />
                            <p class="mb-1">Số lần rút tiền <strong>0</strong></p>
                            <p>Tổng tiền đã rút <strong class="text-danger">0 &#x111;</strong></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>