<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <div class="page-title">
            <div class="h1"> Thông tin ví</div>
            <span class=" h3 text-secondary px-2">/</span>
            <h1 class=" h3 text-secondary">R&#xFA;t ti&#x1EC1;n</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav>
                    <!--thay đổi cấu truc tab -->
                    <ul class="nav nav-tabs nav-campaign nav-50" id="nav-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="">Rút tiền</a></li>
                        <li class="nav-item"><a class="nav-link" href="/microkols-cms/build/history.html">Lịch sử</a></li>
                    </ul>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-8">
                                <form method="post" action="/Wallet/WithDraw" id="frmWithDraw">
                                    <div></div>
                                    <div class="h4">
                                        <label>Số dư ví: </label> <span class="text-danger">284,173,099 &#x111;</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="Amount">S&#x1ED1; ti&#x1EC1;n r&#xFA;t</label>
                                        <input type="number" class="form-control" min="10000" max="284173099" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p S&#x1ED1; ti&#x1EC1;n r&#xFA;t" id="Amount" name="Amount" value="" />
                                        <span class="text-danger field-validation-valid" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
                                    </div>
                                    <h6>Thông tin tài khoản</h6>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Name">T&#xE0;i kho&#x1EA3;n</label>
                                                <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p T&#xE0;i kho&#x1EA3;n" id="Name" name="Name" value="" />
                                                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="Number">S&#x1ED1; t&#xE0;i kho&#x1EA3;n</label>
                                                <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p S&#x1ED1; t&#xE0;i kho&#x1EA3;n" id="Number" name="Number" value="" />
                                                <span class="text-danger field-validation-valid" data-valmsg-for="Number" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Bank">Ng&#xE2;n h&#xE0;ng</label>
                                                <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p Ng&#xE2;n h&#xE0;ng" id="Bank" name="Bank" value="" />
                                                <span class="text-danger field-validation-valid" data-valmsg-for="Bank" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="Branch">Chi nh&#xE1;nh</label>
                                                <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p Chi nh&#xE1;nh" id="Branch" name="Branch" value="" />
                                                <span class="text-danger field-validation-valid" data-valmsg-for="Branch" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Note">Ghi ch&#xFA;</label>
                                        <textarea class="form-control" id="Note" name="Note"></textarea>
                                        <span class="text-danger field-validation-valid" data-valmsg-for="Note" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Rút tiền" class="btn btn-submit btn-primary " />
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>