$img-path: "../img";
$font-path: "../font";

img{max-width: 100%;}
.flex{display: flex; flex-wrap: wrap;}
.flex-lc{display: flex; align-items: center;}
.sidebar{
  .close{
    display: none;
    width: 20px; height: 20px;
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    position: absolute; right: 20px; top: 20px; opacity: 1; text-indent: -9999em;
  }
}
.navbar-m{display: none;}
button:focus{outline: none;}
.form-updateinfo{
  label{font-size: 18px;}
}
.choose-account{
  > div{margin-right: 15px;}
}
.main-wallet{
  .card-title{font-size: 30px; color: #4F4F4F;}
  .card-img-top{width: auto; padding: 0; max-height: 60%; max-width: 60%;}
  .card-img{height: 250px; display: flex; align-items: center; justify-content: center;}
}
.main-campaign{
  .card.border-0{margin-bottom: 40px;}
}
.card-img-overlay{
  display: flex; align-items: center;
  .h2{max-width: 365px; margin-bottom: 0;}
  .btn{white-space: normal;}
}
.form-create-campaign{
  .p-3{padding: 0rem !important;}
  .btn{white-space: normal;}
  textarea{min-height: 160px;}
  .custom-control{padding: 10px 0 10px 1.5rem;}
}
.campaign-list{
  .card-title{font-size: 20px; line-height: inherit;}
}
.img-campaign{
  img{padding: 5px;}
}
.campaign_btn{
  text-align: center;
  margin-bottom: 10px;
  a{display: block; margin-bottom: 5px; font-size: 14px; line-height: 24px;}
  .btn_pay{
    width: 217px;
    height: 36px;
    margin: 0 auto 18px;
    background: #F07F1A;
    border-radius: 9999px;
    font-weight: bold;
    line-height: 36px;
    color: #fff;
  }
  .btn_cancel{color: #B60000;}
}

@media (max-width: 1200px) {
  .nav-responsive{width: 100%; overflow: auto;}
  .nav-tabs{
    flex-wrap: nowrap;
    border-left: 0.5px solid #BDBDBD;
    border-bottom: none;
    margin-bottom: 15px;
    >*+*{border-left: 0.5px solid #BDBDBD;}
    li:last-child{border-right: 0.5px solid #BDBDBD;}
    .nav-link{
      padding: .4rem 1rem; font-size: 14px; white-space: nowrap;
      &:hover,&:focus{border-color: #BDBDBD;}
    }
    .nav-item{border-top: 0.5px solid #BDBDBD;
      border-bottom: 0.5px solid #BDBDBD; position: relative;}
    .nav-link.active{border: none;}

    .nav-link.active::after{
      content: "";
      width: 100%; height: 2px; background: #2D9CDB;
      position: absolute; bottom: -1px; left: 0;
    }
  }
}

@media (max-width: 1023px) {
  .navbar-m{
    display: flex; align-items: center;
    width: 100%; height: 55px;
    padding: 0 15px;
    background: #56CCF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed; top: 0; z-index: 99;
    .navbar-toggler{
      display: block;
      width: 24px;
      height: 14px;
      padding: 0;
      background: none; border: none;
      position: absolute; right: 15px; top: 50%; transform: translateY(-50%);
      span{
        display: block; width: 24px; height: 2px; border-radius: 2px;
        background: #fff; transition: .3s;
      }
      span:before,span:after{
        content: ''; display: block; width: 24px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
      }
      span:before{top: -2px;}
      span:after{bottom: -2px;}
    }
    .navbar-toggler.active{
      span{width: 33px; transform: rotate(45deg);}
      span:after{width: 33px;}
      span:before{top: 0;  transform: rotate(90deg);}
      span:after{opacity: 0;}
    }
  }
  .sidebar{
    width: 100%;
    position: fixed;
    right: 0;
    height: 100%;
    top: -100%;
    overflow: auto;
    z-index: 990;
    .close{display: block;}
    .logo{display: none;}
    .sidebar-sticky{width: 100%;}
    .nav-link{padding: 0.5rem 20px;}
    .nav-user{margin: 12px 0 40px;}
    .nav-sep{margin: 20px 0;}
    hr{border-color: rgba(#fff,.3);}
    &.is-show{top: 0; transition: all .3s linear;}
  }
  .user-avatar{
    width: 240px; height: 240px;
    img{width: 240px;}
    label{width: 240px; height: 120px;}
  }
  .nav-50{
    li,.nav-item{width: 50%; text-align: center;}
  }
  main{width: 100%;}
  .main{padding: 90px 0 50px;}
  .page-title{
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    .h1{margin-bottom: .5rem; font-size: 24px;}
    .btn{margin-top: 1rem;}
    .text-secondary{font-size: 1.05rem;}
    .text-secondary.px-2{padding: 0 .6rem !important;}
    .text-primary{font-size: 20px;}
    a.btn{padding: 4px 24px; font-size: 14px;}
  }
  .sz30{font-size: 20px;}
  form{
    .col-md-4{margin-bottom: 15px;}
  }
  .nav-tabs .nav-link{font-size: 12px;}
  table{
    th,td{padding: .5rem; font-size: 11px;}
    tr td{min-width: 120px;}
  }
  .table-campaign{
    tr td:nth-child(1){min-width: initial;}
    tr td:not(:nth-child(1)){min-width: 120px;}
  }
  .pagination{margin-top: 20px;}
  .table-responsive{
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, .5);
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 8px;
    }
  }
  .campaigndetails{
    .mr-2{font-size: 15px;}
  }
  .form-updateinfo label {
    font-size: 16px;
  }
  #nav-tab-content-campaign{
    margin-top: 10px;
    .card-body{padding: 1.25rem 5px;}
  }
  .main-wallet{
    .card{margin-bottom: 20px;}
    .card-body{padding: 15px;}
    .card-img{height: 200px;}
  }
  .form-inline{
    .btn{padding-left: 1rem; padding-right: 1rem;}
  }
  .campaign-list{
    .card-body{ padding:  1rem; min-height: 150px;}
  }
  .card-img-overlay{
    padding: 1rem;
    .p-5{display: flex; padding: 0rem !important;}
    .text-dark,.col-5{width: 100%; max-width: 100%; flex-basis: 100%;}
    .h2{max-width: 240px; color: #4F4F4F; font-size: 16px; line-height: 26px; letter-spacing: -0.015em;}
  }

  //uikit
  h3, .h3{font-size: 1rem; line-height: inherit;}
  h6, .h6{line-height: inherit;}
  h1, .h1,.page-title{font-size: 1.6rem;}
  .card-body{padding: 1.25rem 0;}
}

@media (max-width: 480px) {
  .page-title{
    .h1{flex-basis: 100%;}
  }
}

@media (max-width: 375px) {
  .nav-tabs .nav-link {
    padding: .4rem .5rem;
  }
}

@media (min-width: 1023px) and (max-width: 1200px) {
  .page-title{
    .h1{font-size: 36px;}
    .text-secondary{font-size: 28px;}
  }
  .user-avatar{
    width: 140px; height: 140px;
    img{width: 140px;}
    label{width: 140px; height: 70px;}
  }
  .sidebar{width: 280px;}
  main{width: calc(100% - 280px);}
  .main{padding: 2rem 0;}

  //uikit
  h3, .h3{font-size: 1rem;}
}

@media (min-width: 1200px) {
  main{width: calc(100% - 320px);}
  .campaign-list{
    .card{box-shadow: 0px 4px rgba(0, 0, 0, 0.25);}
    .card-body{min-height: 160px;}
  }
  .card-img-overlay{
    .text-dark{width: 100%;}
    .h2{color: #4F4F4F; font-size: 30px; line-height: 40px; letter-spacing: -0.015em;}
  }
  .form-create-campaign{
    label,h6{font-size: 18px;}
    .form-control{height: 50px; font-size: 18px;}
    .text-center .btn-primary{padding: 12px 25px;}
  }
}


//page edit wallet, changeinfo, campaign-detail, campaign, history, notification
